div.card
{
    background-color:rgb(50, 137, 218);
    margin: 20px;
    padding: 5px;
    font-variant: small-caps;
}

li.customlist { 
    color: rgb(253, 244, 232);
background-color: rgb(33, 174, 179);
}

body {
    background-color: rgb(118, 190, 202);
    color: rgb(253, 244, 232);

}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https: //via.placeholder.com/100x100");
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    padding-top: 400px;
    padding-bottom: 10px;
  
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 8px;
    padding-top: 100px;
    padding-left: 20px;


}

.hero_h1 {
    font-weight: bolder;
    color: black;
}


.hero_h2 {
    font-weight: bold;
    color: antiquewhite;
}


.dropdown-menu {
    background-color: rgb(29, 56, 87);
    font-size: large;

}

.dropdown-item {
    font-size: large;
    color: antiquewhite;
}

.navbar-custom
{
    padding:10px;
    background-color: rgb(19, 35, 54);
    font-size: larger;
}

#header
{
    background-color: red;
    padding-top: 80px;
    padding-bottom: 10px;
    text-align: center;
}

#section
{
    background-color: rgb(24, 46, 71);
    padding-top: 20px;
    padding-bottom: 20px;

}

#section2
{
    background-color: rgb(29, 56, 87);
    padding-top: 20px;
    padding-bottom: 20px;
}


#footer
{     background-color: rgb(49, 94, 148);
    text-align:center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-color: green;
    border-style: solid hidden hidden hidden;

}

#copyright
{
    background-color: lightblue;
    text-align: center;
    padding: 10px;
    font-size: small;
    opacity: 50%;
}



h3
{
    font-weight: bold;
}

.center {
    text-align: center;
}


textarea {
    resize: none;
}

#bold {
    font-weight: bold;

}

label {
    color: black;
}

label.label2 {
    color: rgb(253, 244, 232);

}

.form-control {
    background-color:rgb(253, 244, 232);
}